@use "./vars" as v;
@use "./utils" as u;

@use "./conf";
@use "./atoms";
@use "./templates";

main {
  padding: 15px;

  .at-common-btn-1 {
    margin-top: 30px;
  }

  .hm {
    margin-top: 30px;
  }
}
