@use "./vars" as v;
@use "./utils" as u;

@use "./config";
@use "./components";
@use "./templates";

main {
  padding: 15px;

  .main-btn,
  .sub-btn {
    margin-top: 30px;
  }

  .hm {
    margin-top: 30px;
  }
}
