# Dependency directories
node_modules/

# Logs
yarn-error.log

# dotenv environment variables file
.env

# output
out/

# wordpress
wp/themes/twentynineteen
wp/themes/twentytwenty
wp/themes/twentytwentyone
