@mixin pos ($layout, $param: 0) {
  position: absolute;

  @if ($layout == "top") {
    top: $param;
    left: 50%;
    transform: translateX(-50%);
  } @else if ($layout == "right") {
    top: 50%;
    right: $param;
    transform: translateY(-50%);
  } @else if ($layout == "bottom") {
    bottom: $param;
    left: 50%;
    transform: translateX(-50%);
  } @else if ($layout == "left") {
    top: 50%;
    left: $param;
    transform: translateY(-50%);
  } @else if ($layout == "center") {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else {
    background-color: red;
  }
}

@mixin flex ($layout) {
  @if ($layout == ver) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } @else if ($layout == hor) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } @else {
    background-color: red;
  }
}

@mixin bg ($path) {
  background-image: url($path);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin set-bg ($path) {
  background-image: url($path);
}

@mixin rm-bg () {
  background-image: url();
}

@mixin img ($path) {
  background-image: url($path);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
