html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  width: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

header,
main,
footer {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

main {
  display: block;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
