@use "../vars" as v;
@use "../utils" as u;

.at-common-btn-1 {
  max-width: 240px;
  background-color: v.$black-1;
  border-radius: 5px;
  transition: all .3s;

  a {
    line-height: 40px;
    color: v.$white-1;
    text-align: center;
    display: block;
  }

  &:hover {
    opacity: 0.7;
  }
}
