header {
  nav {
    padding: 15px;

    ul {
      display: flex;

      li {
        &:nth-of-type(n + 2) {
          margin-left: 30px;
        }

        transition: all 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
