extends ./layouts/_index
include ./components/_index

block page
  - const page = "about"

block main
  +mainTitle("About page")

  +mainBtn("/", "Home")

  +subBtn("/", "Home")

  p.sample-img: img(src!= getImgPath("sample.jpg"), width="1920", height="1280" alt="sample image")
