extends ./layouts/_index
include ./components/_index

block page
  - const page = "home"

block main
  +mainTitle("Home page")

  +mainBtn("/about", "About")

  +subBtn("/about", "About")

  p.sample-img: img(src!= getImgPath("sample.jpg"), width="1920", height="1280" alt="sample image")
