-
  const isWp = false
  const onlyBody = false

  const lang = "ja"
  const meta = {
    home: {
      title: "home",
      description: "home description"
    },

    "privacy-policy": {
      title: "privacy-policy",
      description: "privacy-policy description"
    },
  }
