-
  const isWp = true
  const onlyBody = false

  const lang = "ja"
  const meta = {
    home: {
      title: "home",
      description: "home description"
    },

    about: {
      title: "about",
      description: "about description"
    },

    //- "hoge-piyo": {
    //-   title: "hoge-piyo",
    //-   description: ""
    //- }
  }
