include ../conf/_index
include ../utils/_index

block page

if (!onlyBody)
  doctype
  .
    <html lang="#{lang}">
  include ../templates/_head

  if (isWp)
    .
      <body <?php body_class(); ?>>

  else
    .
      <body class="#{page}">

if (!onlyBody)
  include ../templates/_header
  .
    <main>

if (isWp)
  <?php get_header(); ?>

block main

if (isWp)
  <?php get_footer(); ?>

if (!onlyBody)
  .
    </main>
  include ../templates/_footer
  .
      </body>
    </html>
