-
  const isWp = false

  const lang = "ja"

  const dir = {
    pug: "pug",
    css: "css",
    js: "js",
    images: "images"
  }

  const meta = {
    home: {
      title: "home",
      description: "home description"
    },

    about: {
      title: "about",
      description: "about description"
    },

    //- "hoge-piyo": {
    //-   title: "hoge-piyo",
    //-   description: ""
    //- }
  }
